*{
    margin: 0px auto;
    padding: 0px;
}

.acontent{
    min-height: 470px;
    background-size: cover;
    background-color: rgb(17, 105, 96);
}

.ahead{
    min-height: 35px;
}

.ahead-left{
    width: 360px;
    height: 35px;
    margin-left: 50px;
    float: left;
}

.contact-1{
    width: 180px;
    height: 30px;
    margin-top: 5px;
    float: left;
    color: white;
}

.mobile-1{
    width: 20px;
    height: 35px;
    float: left;
}

.mobile-1-text{
    width: 120px;
    height: 20px;
    margin-top: 5px;
    float: left;
}

.contact-2{
    width: 150px;
    height: 30px;
    margin-top: 5px;
    float: left;
    color: white;
}

.mobile-2{
    width: 20px;
    height: 35px;
    float: left;
}

.mobile-2-text{
    width: 120px;
    height: 20px;
    margin-top: 5px;
    float: left;
}




.ahead-right{
    width: 200px;
    height: 35px;
    margin-right: 40px;
    float: right;
}

.aright-icons{
    width: 200px;
    height: 30px;
    margin-top: 5px;
    float: left;
}

.twitter-icon i{
    width: 40px;
    height: 25px;
    float: left;
    color: white;
}

.facebook-icon i{
    width: 35px;
    height: 25px;
    float: left;
    color: white;
}

.instagram-icon i{
    width: 45px;
    height: 25px;
    float: left;
    color: white;
}

.linkedin-icon i{
    width: 35px;
    height: 25px;
    float: left;
    color: white;
}

.acontent-navbar-left{
    min-height: 50px;
}

.anavbar-left{
    width: 30%;
    height: 50px;
    float: left;
}

.logo-text{
    width: 150px;
    height: 50px;
    margin-left: 48px;
    float: left;
}

.logo-text span{
    font-size: 40px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.acontent-navbar-right{
    min-height: 50px;
}

.anavbar-right{
    width: 70%;
    height: 50px;
    margin-right: 65px;
    float: right;
}

.anavbar-buttons{
    width: 100%;
    height: 50px;
    float: left;
    display: flex;
    align-items: center;
}

.anavbar-buttons a:hover{
    text-decoration: none;
    border-bottom: 2px solid orange;
}

.home-button{
    width: 60px;
    height: 25px;
    margin-top: 15px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button span{
    color: white;
    font-size: 20px;
}

.page-button{
    width: 55px;
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-button span{
    color: white;
    font-size: 20px;
}

.free-button{
    width: 55px;
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-button span{
    color: white;
    font-size: 20px;
}

.blog-button{
    width: 50px;
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-button span{
    color: white;
    font-size: 20px;
}

.more-button{
    width: 55px;
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-button span{
    color: white;
    font-size: 20px;
}

.contact-button{
    width: 80px;
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button span{
    color: white;
    font-size: 20px;
}